[Service]
Type=oneshot
User=ton
ExecStart=/opt/bin/ton_metrics_push \
  --output /run/node_exporter/collector \
  --engine-console-binary /[...]/ton/main.ton.dev/ton/build/validator-engine-console/validator-engine-console \
  --lite-client-binary /[...]/ton/main.ton.dev/ton/build/lite-client/lite-client \
  --validator-client-key /[...]/ton/keys/client \
  --validator-server-pub /[...]/ton/keys/server.pub \
  --liteserver-pub /[...]/ton/keys/liteserver.pub \
  --wallet-address 0x<your multisig wallet address> \
  --election-dir /[...]/ton/keys/elections \
  --validator-config /[...]/ton/data/db/config.json
TimeoutStartSec=1s
TimeoutStopSec=1s
